@import url("https://fonts.googleapis.com/css?family=Raleway:100i");

* {
	margin:0;
	padding:0;
	font-family: 'Raleway', sans-serif;
	box-sizing: border-box;
	font-weight: bolder;
}
/*******Home**********/
#home nav {
	background-color: #282E2D;
}

nav {
	z-index: +900;
}

div.row{
	margin-bottom: 0px;
}
.block {
    min-height: 100vh;
}

nav ul li a:hover, nav ul li a.active {
    background-color: rgba(0,0,0,.1);
}

#home {
	height: 100vh;
	background-image:url(../img/giphy.gif);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
}
.titulo{
	color:#282E2D;
	text-align: center;
	padding-top:5rem;
}

#letter {
	font-weight: bold;
	font-size: 3.5rem;
	word-wrap: break-word;
}
/*******Sobre mi**********/
#sobre{
	background-color:#AFB6C4;
	padding-bottom: 2rem;
}

#sobre nav{
	background-color:#33383a;
}

.descrip{
	border-radius: 15px;
	padding: 1.5rem;
	margin:1rem;
	margin-bottom:0px;
	font-size: 1.3rem;
	background-color: rgba(245, 222, 179, 0.51);
}

.descrip img{
	width: 100%;
	margin: 0.8rem;
}
/*******habilidades**********/
#habilidades {
	background-color:#DBCED1;
}

#habilidades nav{
	background-color:#444a4d;
}

/*******proyecto**********/
#proyectos {
	background-color:#A3C5B2;
}

#proyectos nav{
	background-color:#5c6266;
}
.vistas{
	text-align: center;
	padding: 1.5rem;
}
.slider {
	width: 100%;
	position: relative;
	z-index: 0;
}

.slider ul li{
	background-color:#EDE6E2;
}

.slider ul li span {
	color:#3C3C63;
	font-weight: bold;
	font-size: 2rem;
}

/*******contacto**********/
#contacto {
 background-color: #d9e7df;
}

footer{
	width: 100%;
	padding: 8em 4em;
	color: #282E2D;
}
a i{
	padding: 0.8rem;
	color: #282E2D;
}
a i:hover, a i:active {
	text-align: center;
	box-shadow: 6px;
	color: #DBCED1;
}